* { margin: 0; padding: 0; }
.setings{background:red;}
.client{background:red;}
.W{background:red;}
.H{background:red;}
.using{background:red;}
.data{background:red;}
.sate{background:red;}
.menu{background:red;}
.content{background:red;}
.foter{background:red;}